{% macro comment_list(comments) -%}
<ul class="comments">
  {% for comment in comments -%}
  <li>
    <span class="run-id">
      <a href="/runs/{{ comment['vcf_id'] }}/examine">Run {{ comment['vcf_id'] }}</a>
    </span>
    <span class="location">{{ comment['contig'] }}:{{ comment['position'] }}</span>
    <span class="summary">{{ comment['comment_text']|truncate(80) }}</span>
    <span class="time" title="{{ comment['last_modified'] }}">{{ comment['last_modified']|humanize_date }}</span>
  </li>
  {% endfor -%}
</ul>
{%- endmacro %}
