{% macro nav(active, current_user) -%}
<nav class="navigation">
  <div class="container">
    <ul id="navigation-list">
      <li><a class="header-logo" href="/">Home</a></li>
      <li class="{{ 'active' if active == 'runs' else '' }}">
        <a href="/">Projects</a>
        {% if active == 'examine' %} &raquo;
        <span class="{{ 'active' if active == 'examine' else '' }}">Examine</span>
        {% elif active == 'comments' %} &raquo;
        <span class="{{ 'active' if active == 'comments' else '' }}">Comments</span>
        {% endif %}
      </li>
      <li class="{{ 'active' if active == 'about' else '' }}">
        <a href="/about">About</a>
      </li>
    </ul>
    <ul id="user-login-logout">
      <li>
        {% if current_user.is_authenticated() %}
        <form action="/logout" method="POST">
          <button id="logout">Log out {{ current_user['username'] }}</button>
        </form>
        {% else %}
        <a class="{{ 'active' if active == 'login' else '' }}" href="/login">Log in</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
{%- endmacro %}
