/* ExaminePage */
h1 small {
  font-size: 17px;
  margin-left: 17px;
  color: #B0B0B0;
}

/* Override some Bootstrap defaults */
a, a:hover {
  color: #000;
  text-decoration: none;
}
body {
  font-size: 16px;
  line-height: 1;
  margin: 8px;
}

/* VCFTable */
.vcf-table {
  padding-top: 20px;
}
.vcf-table th {
  font-size: 19px;
  position: relative;
  white-space: nowrap;
}
.vcf-table th.arrow,
.vcf-table td.arrow {
  width: 20px;
  max-width: 20px;
  padding: 0;
  margin: 0;
}
.vcf-table th.ref,
.vcf-table td.ref,
.vcf-table th.alt,
.vcf-table td.alt {
  width: 100px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vcf-table th.tag {
  width: 5px;
}
.vcf-table th.ref,
.vcf-table td.ref {
  padding-right: 0;
  text-align: right;
}
.vcf-table th.alt,
.vcf-table td.alt {
  padding-left: 0;
  text-align: left;
}
.vcf-table th.uber-column {
  border-left: 1px solid #bbb;
}
.vcf-table .tooltip {
  display: none;
  word-wrap: break-word;
  white-space: normal;
  border-radius: 3px;
  position: absolute;
  top: 110%;
  right: -72px;
  background: white;
  border: 1px solid #B6B6B7;
  width: 250px;
  font-size: 12px;
  font-color: #3d3d3d;
  z-index: 1000;
  opacity: 100; /* This is needed to override Bootstrap. */
  line-height: 1; /* This is needed to override Bootstrap. */
  font-size: 12px; /* This is needed to override Bootstrap. */
}
.vcf-table .tooltip p {
  font-weight: 500;
  text-align: left;
  margin-top: 12px; /* This is needed to override Bootstrap. */
  margin-bottom: 12px; /* This is needed to override Bootstrap. */
  padding: 2px 13px;
}
.vcf-table .tooltip p strong {
  font-weight: bold;
}
.vcf-table th span:hover + .tooltip {
  display: block;
}
.vcf-table .tooltip:after, .tooltip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.vcf-table .tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.vcf-table .tooltip:before {
  border-color: rgba(52, 52, 52, 0);
  border-bottom-color: #B6B6B7;
  border-width: 11px;
  margin-left: -11px;
}
.vcf-table .variant-info {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  background: rgb(247, 252, 253);
  text-align: left;
}
.vcf-table .comment-edit-container, .vcf-table .comment-view-container {
  width: 700px;
  margin: 10px 5px;
}
.vcf-table .comment-edit-container {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
}
.vcf-table .comment-box-header {
  width: 700px;
  text-align: left;
  height: 18px;
}
.vcf-table .comment-header {
  width: 700px;
  height: 30px;
  text-align: right;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0px 0px;
}
.vcf-table .comment-text {
  clear: both;
  width: 100%;
  height: auto;
  min-height: 70px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 0px 0px 3px 3px;
  padding: 10px;
}
.vcf-table .comment-text p, ul, li, pre {
  margin: 0px;
}
.vcf-table .comment-text ul {
  line-height: 1.1;
}
.vcf-table .comment-textarea {
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  border-radius: 3px;
}
.vcf-table .comment-textarea:focus {
  background-color: #fff;
}
.vcf-table .comment-button {
  margin: 6px 0px 6px 6px;
}
.vcf-table .edit-buttons {
  float: right;
  padding: 0px;
  margin-top: 5px;
  margin-right: 5px;
}
.vcf-table .comment-delete {
  width: 20px;
  height: 20px;
  background: url(/static/img/delete-comment-noun_16505_cc.svg);
  background-size: 20px 20px;
  opacity: 0.7;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -1px;
}
.vcf-table .comment-edit {
  width: 20px;
  height: 20px;
  background: url(/static/img/edit-comment-noun_8070_cc.svg);
  background-size: 22px 22px;
  opacity: 0.7;
  display: inline-block;
}
.vcf-table .comment-cancel, .vcf-table .comment-save {
  margin-bottom: 0px;
}
.vcf-table .comment-by {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.vcf-table .save-buttons {
  width: 100%;
  text-align: right;
  padding: 0px;
  margin: 0px;
}
.vcf-table .comment-author {
  margin-bottom: 3px;
  width: 300px;
  height: 30px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #B6B6B7;
  border-radius: 3px;
  outline: none;
  background-color: #f9f9f9;
}
.vcf-table .comment-author:focus {
  background-color: #fff;
}
.vcf-table .dalliance-open, .vcf-table .igv-links {
  padding: 7px 0 0 21px;
  line-height: 1.6em;
}
.vcf-table .dalliance-open {
  background: url(/static/img/magnifying-glass-noun_907.svg) no-repeat 2px 6px;
  cursor: pointer;
  background-size: 15px 15px;
}
.vcf-table .igv-links {
  background: url(/static/img/igv32x32.jpg) no-repeat 2px 3px;
  background-size: 16px 16px;
  margin-left: 10px;
  height: 16px;
}
.vcf-table .igv-help {
  margin-bottom: -4px;
  margin-left: 4px;
  width: 18px;
  height: 18px;
  background: url(/static/img/question-mark-noun_61692.svg);
  background-size: 18px 18px;
  opacity: 0.55;
  display: inline-block;
}
.vcf-table tbody tr:nth-child(even) {
  background: rgb(245, 245, 245);
}
.vcf-table tr.selected {
  background: rgb(254, 255, 207);
}
.vcf-table th .sort {
  cursor: pointer;
}
.vcf-table th .sort:before {
  content: ' ↕';
}
.vcf-table th .sorting-by.asc:before {
  content: ' ↑';
}
.vcf-table th .sorting-by.desc:before {
  content: ' ↓';
}
.vcf-table td.pos {
  font-family: "inconsolata", monospace;
}
.vcf-table span.comment-bubble {
  background: url(/static/img/speech-bubble-noun_5483.svg) no-repeat 0px 3px;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 2px;
}
.vcf-table td, .vcf-table th {
  text-align: center;
  padding: 3px 13px;
}
.vcf-table td {
  border: none;
  font-size: 13px;
  white-space: nowrap;
  max-width: 95px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
table.vcf-table {
  border-collapse: collapse;
  width: 100%;
}

/* StatsSummary */
#stats-container {
  margin-top: 23px;
  width: 350px;
  float: right;
  border: 1px solid #B6B6B7;
  border-radius: 3px;
}
#stats-container .precision-recall {
  padding: 13px 0px;
  border-bottom: 1px solid #B6B6B7;
}
#stats-container table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  font-size: 13px;
  white-space: nowrap;
}
#stats-container td {
  text-align: center;
  padding: 3px 13px;
}
#stats-container td.label {
  padding: .2em .6em .3em  /* from bootstrap */
}
#stats-container .precision-recall .label {
  display: table-cell; /* This is needed to override Bootstrap. */
  font-weight: bold;
  font-size: 14px;
  color: #000; /* This is needed to override Bootstrap. */
}
#stats-container .total-records {
  text-align: center;
  padding: 3px 0;
}

/* BioDalliance */
.variant-inspector {
  position: fixed;
  left: 0;
  right: 0;
  height: 850px;
  bottom: 0;
  background-color: white;
}
.variant-inspector .close-button, .variant-inspector .right-button {
  float: right;
  text-decoration: none;
  margin-right: 5px;
}
.variant-inspector .left-button {
  float: left;
  text-decoration: none;
  margin-left: 5px;
}
#svgHolder {
  position: relative;
  bottom: 0;
  border: 1px solid #B6B6B7;
  overflow-y: auto;
  margin: 0 5%;
  padding: 10px;
}
.dalliance-root {
  max-height: 80000px !important;
}
.dalliance .tier-holder {
  overflow-y: hidden;
}
.dalliance .tier.pileup {
  border-top: 1px solid black;
  overflow-y: auto;
  max-height: 300px;
  min-height: 300px;
}
@media(max-height:1000px) {
  .variant-inspector {
    height: 600px;
  }
  .dalliance .tier.pileup {
    max-height: 200px;
    min-height: 200px;
  }
}

/* VCFValidation */
#vcf-validations {
  margin: 11px;
}
#vcf-validations select {
  width: 500px;
  margin-left: 13px;
}

/* ExamineInformation */
.examine-information {
  max-width: 600px;
  margin-top: 17px;
}
dt,dd { line-height: 1.4; }
dd { margin-left: 140px; }
dt {
  font-weight: 700;
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* CQL Typeahead */
.query-container * { box-sizing: border-box; }
.typeahead-input {
  position: relative;
  padding-right: 350px;  /* matches width of Stats Table */
  /* reference, alternates */
}
.typeahead-input .twitter-typeahead {
  width: 100%;
  padding-right: 20px;
}
.typeahead-input .query-input,
.typeahead-input .twitter-typeahead .tt-query,
.typeahead-input .twitter-typeahead .tt-hint {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-size: 22px;
  line-height: 30px;
  border: 1px solid #B6B6B7;
  border-radius: 5px;
  outline: none;
  padding-right: 27px;  /* 20px for .cql-help + padding */
  padding-left: 37px;  /* 18px for .query-status + padding */
}
.query-container input {
  font-family: "inconsolatas", monospace !important;
  font-weight: 200;
}
.query-status {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -8px;
  width: 18px;
  height: 18px;
  z-index: 1;
  line-height: 1.43;
}
.query-status.good {
  background: rgb(125, 236, 182);
  border-radius: 20px;
}
.query-status.good:before {
  content: "✓";
  position: relative;
  left: 3px;
  bottom: 2px;
  color: white;
}
.query-status.bad {
  background: rgb(243, 45, 45);
  border-radius: 1px;
}
.query-status.bad:before {
  content: "×";
  position: relative;
  left: 3px;
  bottom: 11px;
  font-size: 1.5em;
  color: white;
}
.query-status.loading {
  background: url(/static/img/loader.gif) no-repeat;
}
.query-status.loading:before {
  content: "";
}
.cql-help {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 375px;  /* width of Stats Table + 25px */
  width: 20px;
  height: 20px;
  background: url(/static/img/question-mark-noun_61692.svg);
  background-size: 20px 20px;
  opacity: 0.55;
}
.server-error {
  color: red;
}
.tt-hint {
  color: gray;
}
.error-message {
  display: none;
}
/* Styles from http://stackoverflow.com/a/20205623/388951 */
.typeahead-input .tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.typeahead-input .tt-hint {
  color: #999
}
.typeahead-input .tt-dropdown-menu {
  min-width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.typeahead-input .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.typeahead-input .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
.typeahead-input .tt-suggestion p {
  margin: 0;
}

/* Downloads */
a.download-vcf {
  color: #6d6d6d;
  font-size: 0.92em;
  text-decoration: none;
  padding-left: 38px;
  background: url(/static/img/download-noun_4501.svg) no-repeat 11px 2px;
  background-size: 15px 15px;
  opacity: 0.55;
}
