/* ExaminePage */
h1 small {
    font-size: 17px;
    margin-left: 17px;
    color: #B0B0B0;
}
body {
    background: #ffffff url("/static/img/subtle-dots.png") repeat right top;
}

.top-material {
  overflow: hidden;  /* expand to include floats */
}

/* Karyogram */
.karyogram {
    box-shadow: inset 0 0 20px #F0F0F0;
    margin: 5px 0;
}

/* VCFTable */
.vcf-table {
  padding-top: 20px;
}
input {
    border: none;
    padding: 11px;
    background: #dddddd;
    color: #1f2f1f;
    width: 45px;
    margin-left: 3px;
    font-size: 13px;
}
th#position input {
    width: 100px;
}
th#position input:disabled {
    display: none;
}
th {
    font-size: 19px;
    position: relative;
}
th.arrow, td.arrow {
    width: 20px;
    max-width: 20px;
    padding: 0;
    margin: 0;
}
th.ref, td.ref, th.alt, td.alt {
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
th.ref, td.ref {
    padding-right: 0;
    text-align: right;
}
th.alt, td.alt {
    padding-left: 0;
    text-align: left;
}
th.attr > span.chartable {
    cursor: pointer;
    border-bottom: 1px dashed #333;
}
th.attr.selected > span {
    padding: 3px 11px;
    box-shadow: inset 0 0 10px rgba(198, 212, 211, 0.69);
    border: none;
    color: #969696;
}
th.uber-column {
    border-right: 1px solid black;
}
th.uber-column:last-child {
    border: none;
}
.vcf-table .tooltip {
    display: none;
    border-radius: 3px;
    position: absolute;
    top: 110%;
    right: -72px;
    background: white;
    border: 1px solid #343434;
    width: 250px;
    font-size: 12px;
    font-color: #3d3d3d;
    z-index: 1000;
}
.vcf-table .tooltip p {
    font-weight: 500;
    text-align: left;
    padding: 2px 13px;
}
.vcf-table .tooltip p strong {
    font-weight: bold;
}
.vcf-table th.attr span:hover + .tooltip {
    display: block;
}
.vcf-table .tooltip:after, .tooltip:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.vcf-table .tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.vcf-table .tooltip:before {
    border-color: rgba(52, 52, 52, 0);
    border-bottom-color: #343434;
    border-width: 11px;
    margin-left: -11px;
}

select {
    padding: 13px 11px;
    width: 77px;
    height: 31px;
    border: none;
    background: #dddddd;
}
table {
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background: rgba(248, 249, 250, 0.5);
}
th .sort {
    cursor: pointer;
}
th .sort:before {
    content: ' ↕';
}
th .sorting-by.asc:before {
    content: ' ↑';
}
th .sorting-by.desc:before {
    content: ' ↓';
}
th.attr:hover {
    font-weight: bold;
}
td.pos {
    font-family: "inconsolata", monospace;
}
td, th {
    text-align: center;
    padding: 3px 13px;
}
td {
    border: none;
    font-size: 13px;
}
thead, tbody, table {
    width: 100%;
}

tr.selected {
  background-color: lightblue;
}

/* AttributeCharts */
.attr-chart h3 {
    font-size: 28px;
    margin-left: 17px;
}
path {
    fill:none;
    stroke: black;
    stroke-width: 1px;
}
.bar rect {
    fill: #384045;
}
text {
    font-size: 11px;
}
.attr-chart  {
    display: inline-block;
    width: 450px;
    height: 250px;
    margin: 13px;
}
.attr-chart h4 {
    font-size: 25px;
    margin: 0 0 11px 11px;
}

/* StatsSummary */
#stats-container {
    width: 350px;
    float: right;
}
#stats-container .variant-type-tabs li {
    border-radius: 3px 3px 0 0;
    display: inline-block;
    margin-left: 20px;
    padding: 3px 13px;
    border: 1px solid black;
    border-bottom: none;
    background-color: none;
    cursor: pointer;
}
#stats-container .variant-type-tabs li:first-child {
    margin-left: 0;
}
#stats-container .variant-type-tabs li.active {
    background-color: white;
    margin-bottom: -2px;
    cursor: auto;
    border-bottom: none;
}
#stats-container .precision-recall {
    border-radius: 3px 3px 0 0;
    border: 1px solid black;
    margin-top: -17px;
    padding: 13px 0px;
}
#stats-container .precision-recall .label {
    font-weight: bold;
    font-size: 14px;
}
#stats-container .total-records {
    text-align: center;
    border: 1px solid black;
    border-top: none;
    padding: 3px 0;
    border-radius: 0 0 3px 3px;
}

/* BioDalliance */
.variant-inspector {
  position: fixed;
  left: 0;
  right: 0;
  height: 850px;
  bottom: 0;
  background-color: white;
}
.variant-inspector .close-button, .variant-inspector .right-button {
  float: right;
  text-decoration: none;
  margin-right: 5px;
}
.variant-inspector .left-button {
  float: left;
  text-decoration: none;
  margin-left: 5px;
}

#svgHolder {
  position: relative;
  bottom: 0;
  border: 1px solid #ccc;
  overflow-y: auto;
  margin: 0 5%;
  padding: 10px;
}
.dalliance-root {
  max-height: 80000px !important;
}
.dalliance .tier-holder {
  overflow-y: hidden;
}
.dalliance .tier.pileup {
  border-top: 1px solid black;
  overflow-y: auto;
  max-height: 300px;
  min-height: 300px;
}

@media(max-height:1000px) {
  .variant-inspector {
    height: 550px;
  }
  .dalliance .tier.pileup {
    max-height: 200px;
    min-height: 200px;
  }
}
