/* ExaminePage */
h1 small {
    font-size: 17px;
    margin-left: 17px;
    color: #B0B0B0;
}
body {
    background: #ffffff url("/static/img/subtle-dots.png") repeat right top;
}

/* Karyogram */
.karyogram {
    margin-top: 121px;  /* enough space for the global stats table */
                        /* TODO: deactivate this if AttrCharts are shown. */
    box-shadow: inset 0 0 20px #F0F0F0;
}

/* VCFTable */
.vcf-table {
  padding-top: 20px;
}
input {
    border: none;
    padding: 11px;
    background: #dddddd;
    color: #1f2f1f;
    width: 45px;
    margin-left: 3px;
    font-size: 13px;
}
th#position input {
    width: 100px;
}
th.attr {
    position: relative;
}
th.attr > span {
    border-bottom: 1px dashed #333;
}
.tooltip {
    display: none;
    border-radius: 3px;
    position: absolute;
    top: 110%;
    right: -72px;
    background: white;
    border: 1px solid #343434;
    width: 250px;
    font-size: 12px;
    font-color: #3d3d3d;
    z-index: 1000;
}
.tooltip p {
    font-weight: 500;
    text-align: left;
    padding: 2px 13px;
}
.tooltip p strong {
    font-weight: bold;
}
th.attr span:hover + .tooltip {
    display: block;
}
.tooltip:after, .tooltip:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.tooltip:before {
    border-color: rgba(52, 52, 52, 0);
    border-bottom-color: #343434;
    border-width: 11px;
    margin-left: -11px;
}

select {
    padding: 13px 11px;
    width: 77px;
    height: 31px;
    border: none;
    background: #dddddd;
}
table {
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background: rgba(248, 249, 250, 0.5);
}
th.attr {
    font-size: 21px;
    cursor: pointer;
}
th.attr:hover {
    font-weight: bold;
}
td.pos {
    font-family: "inconsolata", monospace;
}
td, th {
    text-align: center;
    padding: 3px 13px;
}
td {
    border: none;
    font-size: 13px;
}
thead, tbody, table {
    width: 100%;
}

/* AttributeCharts */
.attr-chart h3 {
    font-size: 28px;
    margin-left: 17px;
}
path {
    fill:none;
    stroke: black;
    stroke-width: 1px;
}
.bar rect {
    fill: #384045;
}
text {
    font-size: 11px;
}
.attr-chart  {
    display: inline-block;
    width: 450px;
    height: 250px;
    margin: 13px;
}
.attr-chart h4 {
    font-size: 25px;
    margin: 0 0 11px 11px;
}

/* GlobalStatsTable */
.global-stats-table {
    box-shadow: inset 0 0 20px #F0F0F0;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 37px;
    right: 13px;
}
.global-stats-table .label {
    font-weight: bold;
    font-size: 15px;
}
.global-stats-table tr.prec-rec-f1 td {
    font-weight: bold;
    font-size: 13px;
}
.global-stats-table tr.prec-rec-f1-vals td {
    font-weight: 500;
    font-size: 13px;
}
