nav.navigation {
    font-size: 12px;
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nav.navigation ul {
    margin: 0;
    padding: 0;
    display: inline;
}
nav.navigation li {
    display: inline-block;
    padding: 2px 11px;
}
nav.navigation a {
    color: black;
    text-decoration: none;
}
nav.navigation a:hover {
    font-weight: bold;
}
nav.navigation .active {
    font-weight: bold;
}