main {
  width: 800px;
  margin: auto;
  margin-top: 41px;
}
form#submit {
  margin: 0 auto 27px auto;
  max-width: 500px;
}
form#submit .form-control {
  color: black;
}
form#submit .form-control::-webkit-input-placeholder {
  color: #adadad;
}
form#submit .form-control::-moz-placeholder {
  color: #adadad;
}
#show-submit {
  float: right;
}

/* Projects  */
div.project-header h2 {
  margin: 0;
}
div.project-header div.project-stats {
  font-size: 1.2em;
  float: right;
  top: -15px;
  color: #9d9d9d;
}
div.project {
  margin: 77px 0;
}
div.project tbody {
  height: 100px;
  width: 500px;
  overflow: auto;
}

/* Last comments list: */
div.comments {
  margin: 29px 0;
}
h4.last-comments {
 margin-bottom: 5px;
}
a.all-comments {
  font-size: 14px;
  color: #adadad;
}

/* LastComments */
div.comments {
  margin-left: 11px;
}

/* Runs table: */
.runs.table {
  margin-top: 23px;
}
tr.run {
  background: white;
  cursor: pointer;
}
tr.run.selected {
  font-weight: 500;
}
tr.run-info {
  background: rgb(247, 252, 253);
}
tr.run-info ul {
  text-align: left;
}
tr.run-info li {
  list-style: none;
}
input.selector {
  margin-right: 13px;
}
td .label {
  margin: 0 3px 0 3px;
}
td span.run-id {
  color: #d5d9d9;
  margin-right: 11px;
  font-size: 0.92em;
}
span.comment-bubble {
  background: url(/static/img/speech-bubble-noun_5483.svg) no-repeat 0px 3px;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.no-comment > span {
  opacity: 0.3;
}
td.comments {
  text-align: right;
  white-space: nowrap;
}

.runs .run-id, .runs .date {
  white-space: nowrap;
}

/* drag and drop file upload */
main#runs .receiving-drag.uploadable {
  background: rgb(247, 252, 253);
}
main#runs .dragging-over .uploadable {
  border: 2px dashed #777;
}

/* autocomplete styling */
main#runs .twitter-typeahead, .tt-hint { width: 100%; }
main#runs .tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
main#runs .tt-suggestion {
    padding: 3px 20px;
}
main#runs .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
