body {
  padding: 11px;
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
}
main { margin-top: 78px; }
pre, tt { font-family: "inconsolata", monospace; }
table td { font-family: helvetica, arial, sans-serif; }
section {
  width: 800px;
  margin: auto;
}
img.cycle { float: right; }

.comments {
  list-style: none;
}
.comments .run-id {
  font-weight: bold;
}
.comments .run-id a {
  color: black;
}
.comments .location {
  padding-left: 7px;
}
.comments .summary {
  padding-left: 20px;
}
.comments .summary:before {
  content: '“';
  font-size: 19px;
  padding-right: 5px;
}
.comments .summary:after {
  content: '”';
  font-size: 19px;
  padding-left: 5px;
}
.comments .time {
  float: right;
  padding-right: 19px;
}
