$color-black: #333;
$color-blue-sinai: #1CABE1;
$color-blue-light: #eff6f7;
$color-gray-light: #ccc;
$color-gray-medium: #adadad;
$color-green: #5cb85c;
$color-red: #f32d2d;
$color-white: #fff;
$color-white-smoke: #f5f5f5;
$color-yellow-light: #feffcf;
$color-fuchsia-sinai: #C3167B;

////////////////////////////////

$color-bg-hover: $color-blue-light;
$color-bg-expanded: $color-blue-light;

$color-status-success: $color-green;
$color-status-error: $color-red;

$color-text: $color-black;
$color-text-dim: $color-gray-medium;

$color-link: $color-blue-sinai;

$color-border-light: $color-gray-light;


$radius: 4px;