@import 'style';

/*------[ Examine Page ]------*/
h1 small {
  font-size: 1em;
  margin-left: 1em;
  color: $color-text-dim;
}

/* Override some Bootstrap defaults */
a, a:hover {
  color: $color-text;
  text-decoration: none;
}

/*------[ Run Information ]------*/
.header-table {
  @extend .table, .table-condensed;
  background-color: transparent;
  border-bottom: 0;
  margin-bottom: 0;
  td {
    &:last-child {
      border-right: none;
    }
  }
  tbody tr {
    cursor: default;
    &:hover {
      background-color: transparent;
    }
    th {
      border-top: 0;
      width: 110px;
    }
    td {
      border-top: 0;
    }
  }
}
/*------[ Table Controls ]------*/
.examine-info-container {
  @extend .col-md-12;
}
.examine-table-controls {
  @extend .clearfix;
  background-color: $color-border-light;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.examine-cql, .vcf-validations, .download-container {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.examine-cql {
  @extend .col-md-6;
}

/*------[ VCFValidation ]------*/
.vcf-validations {
  @extend .col-md-3;
}
.vcf-validations select {
  @extend .form-control;
  font-size: 1rem;
}
.examine-header {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*------[ Download VCF ]------*/
.download-container {
  @extend .col-md-3;
  padding-top: 0.8em;
}
.total-records {
  display: inline;
}
a.download-vcf {
  @extend .btn, .btn-primary, .btn-xs, .glyphicon-save;
  float: right;
  &:before {
    @extend .glyphicon;
    padding-right: 5px;
  }
}

/*------[ CQL Typeahead ]------*/
.query-container * { box-sizing: border-box; }
.typeahead-input {
  position: relative;
}
.typeahead-input .twitter-typeahead {
  width: 100%;
}
.typeahead-input .query-input,
.typeahead-input .twitter-typeahead .tt-query,
.typeahead-input .twitter-typeahead .tt-hint {
  width: 100%;
  height: 34px;
  padding: 5px 12px;
  font-size: 1rem;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: $radius;
  outline: none;
  padding-right: 30px;  /* 20px for .cql-help + padding */
  padding-left: 37px;  /* 18px for .query-status + padding */
}
.query-status {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  z-index: 1;
  line-height: 1.43;
}
.query-status.good {
  background: $color-status-success;
  border-radius: 20px;
}
.query-status.good:before {
  content: "✓";
  position: relative;
  left: 3px;
  bottom: 2px;
  color: $color-white;
}
.query-status.bad {
  background: $color-status-error;
  border-radius: 1px;
}
.query-status.bad:before {
  content: "×";
  position: relative;
  left: 3px;
  bottom: 11px;
  font-size: 1.5em;
  color: $color-white;
}
.query-status.loading {
  background: url(/static/img/loader.gif) no-repeat;
}
.query-status.loading:before {
  content: "";
}
.cql-help {
  @extend .glyphicon-question-sign, %link;
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 1rem;
  &:before {
    @extend .glyphicon;
  }
}
.server-error {
  color: $color-status-error;
}
.tt-hint {
  color: $color-text-dim;
}
.error-message {
  display: none;
}
/* Styles from http://stackoverflow.com/a/20205623/388951 */
.typeahead-input .tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.typeahead-input .tt-hint {
  color: $color-text-dim;
}
.typeahead-input .tt-dropdown-menu {
  min-width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: $color-white;
  border: 1px solid $color-border-light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $radius;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.typeahead-input .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.typeahead-input .tt-suggestion.tt-cursor {
  background-color: $color-bg-hover;
  cursor: pointer;
}
.typeahead-input .tt-suggestion p {
  margin: 0;
}

/*------[ Stats Summary ]------*/
#stats-container {
  @extend .col-md-12;
  padding: 0;
}
#stats-container table {
  width: 100%;
  td, th {
    padding: 5px;
    text-align: center;
  }
  td {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 0.875rem;
    &:first-child {
      border-left: none;
    }
  }
  th {
    font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    &:last-child {
      border-right: none;
    }
  }
  .other-stats {
    border-top: none;
  }
}

/*------[ VCF Table ]------*/
.examine-table-container {
  overflow: auto;
}
.vcf-table {
  @extend .table, .table-striped;
  margin-bottom: 0;
}
.vcf-table thead {
  background-color: $color-bg-body;
  tr {
    th {
      cursor: default;
      &:first-child {
        border-top-left-radius: 0;
      }
      &:last-child {
        border-top-right-radius: 0;
      }
    }
    &:first-child {
      th {
        font-weight: bold;
        border-left: 2px solid $color-border-light;
        border-bottom: 2px solid $color-border-light;
        background-color: $color-bg-body-dark;
      }
    }
  }
}
.vcf-table th {
  position: relative;
  white-space: nowrap;
}
.vcf-table.table>tbody>tr>td {
  border-top: none;
}
.vcf-table th.arrow,
.vcf-table td.arrow {
  text-align: center;
}
.vcf-table th.ref,
.vcf-table td.ref {
  padding-right: 0;
  text-align: right;
}
.vcf-table th.alt,
.vcf-table td.alt {
  padding-left: 0;
  text-align: left;
}

/*------[ Tooltip ]------*/
.vcf-table .tooltip {
  display: none;
  word-wrap: break-word;
  white-space: normal;
  border-radius: $radius;
  position: absolute;
  top: 110%;
  right: 0;
  background: $color-white;
  background-color: $color-bg-hover;
  border: 1px solid $color-border-light;
  min-width: 200px;
  font-size: 0.75rem;
  color: $color-text;
  z-index: 1000;
  opacity: 100; /* This is needed to override Bootstrap. */
  text-transform: none;
  padding: 0 1em;
}
.vcf-table .tooltip p {
  text-align: left;
  margin-top: 1em; /* This is needed to override Bootstrap. */
  margin-bottom: 1em; /* This is needed to override Bootstrap. */
}
.vcf-table .tooltip p strong {
  font-weight: bold;
}
.vcf-table th span:hover + .tooltip {
  display: block;
}
.vcf-table .tooltip:after, .tooltip:before {
  bottom: 100%;
  right: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.vcf-table .tooltip:after {
  border-color: rgba(231, 246, 252, 0);
  border-bottom-color: $color-bg-hover;
  border-width: 10px;
  margin-right: -10px;
}
.vcf-table .tooltip:before {
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: $color-border-light;
  border-width: 11px;
  margin-right: -11px;
}
.vcf-table .variant-info {
  border-top: 1px solid $color-border-light;
  border-bottom: 1px solid $color-border-light;
  padding: 1em;
  background: $color-bg-expanded;
  text-align: left;
}

/*------[ Stars ]------*/
.vcf-table td span.starred {
    @extend .glyphicon;
    @extend .glyphicon-star;
    color: #F3CE43;
}
.vcf-table td.is-starred span.not-starred {
    @extend .glyphicon;
    @extend .glyphicon-star-empty;
    color: #F3CE43;
    cursor: pointer;
    opacity: 0;
}
.vcf-table td.is-starred:hover span.not-starred {
    opacity: 0.8;
}

/*------[ Comments ]------*/
.vcf-table .comment-edit-container, .vcf-table .comment-view-container {
  @extend .col-md-6;
  border-top: 1px solid $color-border-light;
  border-left: 1px solid $color-border-light;
  border-right: 1px solid $color-border-light;
  padding: 1em;
  background-color: $color-white-smoke;
}
.variant-info {
  .comments:last-of-type {
    .comment-edit-container {
      border-left: none;
      border-right: none;
      background-color: transparent;
    }
  }
}
.vcf-table .comments {
  @extend .row;
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
  margin: 0;
}
.vcf-table .comment-box-header {
  text-align: left;
  padding-bottom: 1em;
}
.vcf-table .comment-header {
  @extend .clearfix;
}
.vcf-table .comment-text p {
  display: inline-block;
  white-space: normal;
}
.vcf-table .comment-text p, ul, li, pre {
  margin: 0px;
}
.vcf-table .comment-text ul {
  line-height: 1.1;
}
.vcf-table .comment-textarea {
  width: 100%;
  height: 100px;
  background-color: $color-white-smoke;
  padding: 0.5em;
}
.vcf-table .comment-textarea:focus {
  background-color: $color-white;
}
.vcf-table .edit-buttons {
  float: right;
}
.vcf-table .comment-delete, .vcf-table .comment-edit {
  font-size: 0.75rem;
  &:before {
    @extend .glyphicon;
  }
}
.vcf-table .comment-delete {
  @extend .glyphicon-trash;
  margin-left: 0.75em;
}
.vcf-table .comment-edit {
  @extend .glyphicon-pencil;
}
.vcf-table .author-name {
  float: left;
}
.vcf-table .comment-cancel {
  @extend .btn, .btn-link;
}
.vcf-table .comment-save {
  @extend .btn, .btn-success;
}
.vcf-table .save-buttons {
  width: 100%;
  text-align: right;
  margin-top: 0.5em;
}
.vcf-table .comment-author {
  margin-bottom: 0.25em;
  padding: 0.5em;
  line-height: 20px;
  outline: none;
  background-color: $color-white-smoke;
}
.vcf-table .comment-author:focus {
  background-color: $color-white;
}
.vcf-table .dalliance-open {
  @extend .btn, .btn-default, .glyphicon-search;
  &:before {
    @extend .glyphicon;
    padding-right: 0.5em;
  }
}
.vcf-table .igv-links {
  margin-left: 1em;
  display: inline-block;
}
.vcf-table .igv-load {
  @extend .btn, .btn-default;
  margin-right: 0.5em;
}
.vcf-table .igv-help {
  @extend .glyphicon-question-sign, %link;
  font-size: 1rem;
  display: inline-block;
  &:before {
    top: 4px;
    @extend .glyphicon;
  }
}

/*------[ Table Headers ]------*/
.vcf-table th .sort {
  cursor: pointer;
}
.vcf-table th .sort:before {
  content: ' ↕';
}
.vcf-table th .sorting-by.asc:before {
  content: ' ↑';
}
.vcf-table th .sorting-by.desc:before {
  content: ' ↓';
}
.vcf-table td.pos {
  font-family: "inconsolata", monospace;
}
.vcf-table span.comment-bubble {
  @extend .glyphicon, .glyphicon-comment;
  margin-right: 0.5em;
  font-size: 0.625rem;
}
.vcf-table td {
  white-space: nowrap;
  max-width: 95px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/*------[ pileup.js ]------*/
.variant-inspector {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-bg-expanded;
  .close-button, .right-button, .left-button {
    padding: 0.5rem;
    &:before {
      @extend .glyphicon;
    }
    &:active, &:hover, &:focus {
      color: #000;
    }
  }
  .right-button, .left-button {
    @extend .btn, .btn-default;
    &:before {
      top: 2px;
    }
    font-size: 1rem;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
  }
  .left-button {
    @extend .glyphicon-arrow-left;
    left: 0.5em;
  }
  .right-button {
    @extend .glyphicon-arrow-right;
    right: 0.5em;
  }
  .close-button {
    @extend .glyphicon-remove;
    float: right;
  }
}
#pileup-container {
  position: absolute;
  top: 125px;
  bottom: 0;
  border: 1px solid $color-border-light;
  overflow-y: auto;
  margin: 0 5%;
  padding: 10px;
  width: 90%;
  background-color: $color-white;
  border-radius: $radius;
}

#pileup-container .controls {
  select, input {
    @extend .form-control;
    width: auto;
    display: inline-block;
  }
  select {
    margin-right: 0.5em
  }
  .btn-submit {
    @extend .btn, .btn-primary;
    margin-left: 0.5em;
  }
  .zoom-controls {
    margin-left: 1em;
  }
  .btn-zoom-in, .btn-zoom-out {
    @extend .btn, .btn-default;
    &:before {
      @extend .glyphicon;
    }
  }
  .btn-zoom-out {
    @extend .glyphicon-zoom-out;
  }
  .btn-zoom-in {
    @extend .glyphicon-zoom-in;
  }
}

/* All of the tracks are fixed-height except for the pileup(s), which split the
 * remaining vertical space. */
.pileup-root > .controls {
  flex: 0 0 36px;  /* fixed height */
}
#pileup-container .track-label {
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
}
.coverage {
  border-top: 1px solid $color-gray-medium;
}
/* removes unwanted white space after SVG (issue #805) */
#pileup-container .track-content canvas {
  display: block; }
