@import 'variables';

.header-logo {
  text-indent: -9999px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url('../img/cycle-dash.png');
  background-size: 22px;
}
nav.navigation {
  padding: 0.25em 0;
  background: $color-white-smoke;
  border-bottom: 1px solid $color-border-light;
}
nav.navigation ul {
  margin-bottom: 0;
  padding-left: 0;
  display: inline-block;
}
nav.navigation li {
  display: inline-block;
  padding: 0 1em 0 0;
}
nav.navigation a {
  color: black;
  text-decoration: none;
}
nav.navigation a:hover {
  text-decoration: underline;
}
nav.navigation .active a:hover {
  text-decoration: none;
}
nav.navigation .active {
  font-weight: bold;
}
#navigation-list {
  float: left;
}
nav #user-login-logout {
  float: right;
  display: inline-block;
  .active:hover {
    text-decoration: none;
  }
  li {
    padding: 0;
  }
  #logout {
    border: none;
    background: none;
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
