@import 'style';

#new-project {
  float: right;
}
.select-project-filter {
  @extend .form-control;
  display: inline-block;
}

/*------[ Recent Comments ]------*/
.recent-comments-container {
  @extend .col-md-2;
  font-size: 0.875em;
  h4 {
    font-size: 1rem;
    margin: 0;
  }
  padding: 1rem;
}
a.all-comments {
  font-size: 0.75em;
  padding-top: 0.25em;
  display: block;
}
.comments-list {
  background-color: transparent;
  box-shadow: none;
  border: none;
  li {
    padding: 1rem 0.25rem;
  }
}

/*------[ Add Form ]------*/
form.add-form {
  @extend .col-md-12;
  background: $color-bg-body-dark;
  border: 1px solid $color-border-light;
  border-radius: $radius;
  margin: 1em 0;
  h3 {
    @extend .col-md-12;
    margin: 15px 0;
  }
}
.add-form-input-half {
  @extend .col-md-6;
}
.add-form-input-full {
  @extend .col-md-12;
}
.form-control.add-form-notes {
  height: 8em;
}
.close {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  z-index: 1;
}
.add-form-submit {
  @extend .btn, .btn-primary;
  float: right;
}

/*------[ Projects ]------*/
.projects-container {
  @extend .col-md-10;
}
.projects-page-header {
  @extend .clearfix;
  border-bottom: 1px solid $color-border-light;
  padding: 1em 0;
  h1 {
    margin: 0;
  }
}
.projects-table {
  @extend .col-md-10;
  border-right: 1px solid $color-border-light;
  padding: 1em;
}
div.project-header h2 {
  margin: 0;
}
div.project-header .notes {
  margin: 0;
}
.project-stats .add button {
  margin-left: 1em;
}
.project-stats .add {
  float: right;
}
.project-header {
  @extend .card-header;
}
div.project {
  @extend %card;
  margin: 2em 0;
  &:last-child {
    margin-bottom: 0;
  }
}
div.project a {
  cursor: pointer;
}
.project-stats {
  @extend .clearfix;
  font-size: 1.125rem;
  padding: 1rem 1rem 0 1rem;
  a {
    margin: 0 1rem 0 0;
    display: inline-block;
    font-family: helvetica;
    font-size: 0.875em;
    &:hover {
      text-decoration: none;
    }
    &.selected-pivot {
      border-bottom: 2px solid $color-text-dim;
      color: $color-text;;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.project-table-nav {
  float:left;
}
.add {
  float:right;
}
/*------[ Runs Table ]------*/
.runs-table-container {
  @extend .card-body;
}
.runs-table, .bams-table {
  @extend .table;
  table-layout: fixed;
  margin: 0;
}
main#runs .runs-table tr.info > td {
  background-color: $color-bg-expanded;
}
input.selector {
  margin-right: 13px;
}
td .label {
  margin: 0 3px 0 3px;
}
.runs-table .label.fail, .runs-table .label.run {
  background: none;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.runs-table .label.fail::after {
  color: $color-status-error;
  content: 'x';
}
.runs-table .label.run::after {
  color: $color-blue-sinai;
  content: '…';
}
span.comment-bubble {
  @extend .glyphicon, .glyphicon-comment;
  margin-left: 0.5em;
  font-size: 0.625rem;
}
.no-comment > span {
  opacity: 0.2;
}
td.comments {
  text-align: right;
  white-space: nowrap;
}
.runs-table .run-id, .runs-table .date {
  white-space: nowrap;
}
.runs-table .run-id {
  text-align: right;
}
.runs-table .caller-name {
  width: 30%;
}
.runs-table .date {
  width: 15%;
}
.runs-table .num-variants {
  width: 15%;
}
.runs-table .bam-info {
  width: 20%;
}
.runs-table .num-comments {
  width: 10%;
}
.runs-table .examine-col {
  width: 10%;
}
.bams-table .bam-name {
  width: 30%
}
.bams-table .resection-date {
  width: 21%;
}
.bams-table .tissues {
  width: 50%;
}
.linked-bam {
  display: block;
}

/*------[ Drag and Drop File Upload ]------*/
main#runs .receiving-drag.uploadable {
  background: $color-bg-hover;
}
main#runs .dragging-over .uploadable {
  border: 2px dashed $color-blue-sinai;
}

/*------[ Autocomplete Styling ]------*/
main#runs .twitter-typeahead, .tt-hint { width: 100%; }
main#runs .tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: $color-white;
  border: 1px solid $color-border-light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $radius;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
main#runs .tt-suggestion {
  padding: 3px 20px;
}
main#runs .tt-suggestion.tt-cursor {
  background-color: $color-bg-hover;
  cursor: pointer;
}
