@import '../lib/bootstrap/scss/bootstrap';
@import 'variables';
@import 'header';

html {
  font-size: 16px;
}
body {
  font-size: 1em;
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
  background-color: $color-bg-body;
}
main { 
  @extend .container;
}
pre, tt { font-family: "inconsolata", monospace; }
table td { font-family: helvetica, arial, sans-serif; }
img.cycle { float: right; }
.btn {
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
}
dd, dt {
  margin-bottom: 0.25em;
}
a, .btn-link {
  color: $color-link;
  &:hover {
    color: darken($color-link, 15%);
  }
}
label {
  font-weight: normal;
}
.btn-primary {
  color: $color-white;
  background-color: $color-fuchsia-sinai;
  border-color: darken($color-fuchsia-sinai, 10%);
  &:hover, &:active, &:focus {
    background-color: darken($color-fuchsia-sinai, 5%);
    border-color: darken($color-fuchsia-sinai, 10%);
    color: $color-white;
  }
}
.btn-default {
  background-color: $color-white;
  border-color: $color-blue-sinai;
  color: $color-blue-sinai;
  &:hover, &:active, &:focus {
    background-color: darken($color-white, 5%);
    border-color: $color-blue-sinai;
    color: $color-blue-sinai;
  }
}
.btn-add-file {
  @extend .btn, .btn-primary, .btn-xs;
}
/*------[ Comments ]------*/
.recent-comments-list {
  @extend .clearfix;
  list-style: none;
  padding: 0;
  li {
    padding: 1em 0;
    margin: 0.5em 0;
    border-top: 1px solid $color-border-light;
    &:first-child {
      border-top: none;
    }
  }
}
.author-name {
  font-weight: bold;
}
.comments .run-id {
  padding-right: 0.5em;
}
.comments .position {
  font-family: "inconsolata", monospace;
}
.comments .summary {
  padding: 0.5em 0;
}
.comments .summary:before {
  content: '“';
  color: $color-text-dim;
}
.comments .summary:after {
  content: '”';
  color: $color-text-dim;
}
.comments .time {
  text-align: right;
  font-size: 0.875em;
  color: $color-text-dim;
}
.form-group.required .control-label:after {
  content:"*";
  color: $color-red;
}
section#api-docs > section {
  margin: 31px 0 87px 0;
  padding: 0 67px;
  border-left: 7px solid $color-border-light;
}

/*------[ Table Styling ]------*/
.table {
  font-size: 0.875em; /* 14/16 */
  color: #666;
  border-collapse: separate;
  background-color: $color-white;
  border-bottom: 1px solid darken($color-white-smoke, 10%);
  td {
    word-wrap: break-word;
    &:first-child {
      border-left: 1px solid darken($color-white-smoke, 10%);
    }
    &:last-child {
      border-right: 1px solid darken($color-white-smoke, 10%);
    }
  }
  thead {
    font-size:0.75rem;
    text-transform: uppercase;
    th {
      background-color: darken($color-bg-body, 15%);
      background-color: $color-bg-body;
      font-weight: normal;
      letter-spacing: 1px;
      &:first-child {
        border-top-left-radius: $radius;
      }
      &:last-child {
        border-top-right-radius: $radius;
      }
    }
  }
}
.table tbody tr {
  cursor: pointer;
}
.table tbody tr:hover {
  background: $color-bg-hover;
}
