@import '../lib/bootstrap/scss/bootstrap';
@import 'variables';
@import 'header';

html {
  font-size: 16px;
}
body {
  font-size: 1em;
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
  background-color: $color-bg-body;
}
main {
  @extend .container;
}
pre, tt { font-family: "inconsolata", monospace; }
table td { font-family: helvetica, arial, sans-serif; }
img.cycle { float: right; }
.btn {
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
}
dd, dt {
  margin-bottom: 0.25em;
}
a, %link {
  color: $color-link;
  &:hover {
      color: darken($color-link, 15%);
  }
}
/*------[ Comments ]------*/
table.comments {
  @extend .col-md-6;
  margin: 1em 0;
  font-size: 0.875em;
  td {
    vertical-align: top;
    font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
    padding: 0.5em 1em;
  }
}
label {
  font-weight: normal;
}
.btn-primary {
  color: $color-white;
  background-color: $color-blue-sinai;
  border-color: darken($color-blue-sinai, 10%);
  &:hover, &:active, &:focus {
    background-color: darken($color-blue-sinai, 5%);
    border-color: darken($color-blue-sinai, 10%);
    color: $color-white;
  }
}
.btn-add-file {
  @extend .btn, .btn-primary, .btn-xs;
}
.btn-link {
  color: $color-text;
  &:hover {
    color: $color-text;
  }
}
%card {
  background-color: $color-white-smoke;
  border-radius: $radius;
  box-shadow: 1px 1px 1px 0px $color-bg-body-dark;
  border: 1px solid $color-border-light;
}
.card-body, .card-header {
  padding: 1rem;
}
.card-header {
  border-bottom: 1px solid $color-border-light;
}
/*------[ Comments ]------*/
.comments-list {
  @extend .comments, .clearfix, %card;
  list-style: none;
  padding: 0;
  li {
    padding: 1rem;
    border-top: 1px solid $color-border-light;
    &:first-child {
      border-top: none;
    }
  }
}
.author-name {
  font-weight: bold;
}
.comments .run-id {
  padding-right: 0.5em;
}
.comments .position {
  font-family: "inconsolata", monospace;
}
.comments .comment-text {
  padding: 0.5em 0;
}
.comments .comment-text:before {
  content: '“';
  color: $color-text-dim;
}
.comments .comment-text:after {
  content: '”';
  color: $color-text-dim;
}
.comments .time {
  font-size: 0.875em;
  color: $color-text-dim;
}
.form-group.required .control-label:after {
  content:"*";
  color: $color-red;
}
section#api-docs > section {
  @extend %card;
  margin-bottom: 2em;
  h3 {
    margin-top: 0;
  }
  p {
    margin: 0;
  }
}
.about-intro {
  border-bottom: 1px solid $color-border-light;
  h1 {
    margin-bottom: 0;
  }
  p {
    padding: 1rem;
  }
}

/*------[ Table Styling ]------*/
.table {
  font-size: 0.875em; /* 14/16 */
  color: $color-text;
  border-collapse: separate;
  background-color: $color-white;
  border-bottom: 1px solid $color-border-light;
  td {
    word-wrap: break-word;
    &:first-child {
      border-left: 1px solid $color-border-light;
    }
    &:last-child {
      border-right: 1px solid $color-border-light;
    }
  }
  thead {
    font-size:0.75rem;
    text-transform: uppercase;
    tr {
      th {
        background-color: $color-bg-body;
        font-weight: normal;
        letter-spacing: 1px;
        border-bottom: 0;

        &:first-child {
          border-top-left-radius: $radius;
        }
        &:last-child {
          border-top-right-radius: $radius;
        }
      }
    }
  }
}
.table tbody tr {
  cursor: pointer;
}
.table tbody tr:hover {
  background: $color-bg-hover;
}
