@import '../lib/bootstrap/scss/bootstrap';
@import 'variables';
@import 'header';

html {
  font-size: 16px;
}
body {
  font-size: 1em;
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
  background-color: $color-blue-light;
  background-color: darken($color-blue-light, 5%);
  background-color: #E0E7E8;
}
main { 
  @extend .container;
}
pre, tt { font-family: "inconsolata", monospace; }
table td { font-family: helvetica, arial, sans-serif; }
img.cycle { float: right; }
.btn {
  font-family: "freight-sans-pro", verdana, helvetica, sans-serif;
}
dd, dt {
  margin-bottom: 0.25em;
}
.btn-primary {
  background-color: darken($color-fuchsia-sinai, 5%);
  color: $color-white;
  border-color: $color-black;
  &:hover, &:active, &:focus {
    background-color: darken($color-fuchsia-sinai, 15%);
    color: $color-white-smoke;
  }
}
.btn-default {
  background-color: lighten($color-blue-sinai, 45%);
  border-color: lighten($color-blue-sinai, 20%);

}
a {
  color: $color-link;
}
.btn-add-file {
  @extend .btn, .btn-primary, .btn-xs;
}
/*------[ Comments ]------*/
.recent-comments-container {
  @extend .col-md-3;
  h4 {
    margin-top: 20px;
  }
  // background-color: darken($color-blue-light, 5%);
}
.recent-comments-list {
  @extend .clearfix;
  padding: 0;
  list-style: none;
  li {
    // background-color: white;
    // float: left;
    padding: 1em;
    margin: 0.5em 0;
    // border-left: 1px solid darken($color-blue-light, 10%);
    border-top: 1px solid darken(#E0E7E8, 15%);
    &:first-child {
      border-top: none;
    }
  }
}
// table.comments {
//   @extend .col-md-6;
//   margin: 1em 0;
//   font-size: 0.875em;
//   td {
//     vertical-align: top;
//     font-family: "freight-sans-pro", verdana, helvetica, sans-serif;  
//     padding: 0.5em 1em;
//   }
// }
a.all-comments {
  font-size: 0.875em;
  color: $color-text-dim;
  padding-left: 0.5em;
}
.author-name {
  font-weight: bold;
}
.comments .run-id {
  padding-right: 0.5em;
}
.comments .position {
  font-family: "inconsolata", monospace;
}
.comments .summary {
  padding: 0.5em 0;
}
.comments .summary:before {
  content: '“';
  color: $color-text-dim;
}
.comments .summary:after {
  content: '”';
  color: $color-text-dim;
}
.comments .time {
  text-align: right;
  font-size: 0.875em;
  color: $color-text-dim;
}
.form-group.required .control-label:after {
  content:"*";
  color: $color-red;
}
section#api-docs > section {
  margin: 31px 0 87px 0;
  padding: 0 67px;
  border-left: 7px solid $color-border-light;
}

/*------[ Table Styling ]------*/
.table {
  font-size: 0.875em; /* 14/16 */
}
.table tbody tr {
  cursor: pointer;
}
.table tbody tr:hover {
  background: $color-bg-hover;
}
