{% extends "layouts/layout.html" %}
{%- from 'macros/nav.html' import nav -%}

{% block head %}
<style>
.callers li { margin: 23px; }
</style>
{% endblock %}

{% block body %}
{{ nav("callers") }}

<h3>Callers <small>Latest Stats</small></h3>
<ul class="callers">
{% for caller in callers %}
  <li>
    <strong>
      <a href="/callers/{{caller.variant_caller_name}}">
        {{ caller.variant_caller_name }}
      </a>
    </strong>
    <span class="badge">
      {{ caller.num_runs }} {{ "runs" if caller.num_runs > 1 else "run" }}
    </span>
    <br/>
    <strong>f1score</strong>: {{ caller.f1score }}
    <strong>precision</strong>: {{ caller.precision }}
    <strong>recall</strong>: {{ caller.recall }}
  </li>
{% endfor %}
</ul>
{% endblock %}
