{% extends "layouts/layout.html" %}
{%- from 'macros/nav.html' import nav -%}

{% block bootstrap %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/examine.css') }}">
<script type="text/javascript" src="//use.typekit.net/vml3kel.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block body %}
<script>
 var VCF_PATH = "{{ run['vcfPath'] }}";
 var TRUTH_VCF_PATH = "{{ run['truthVcfPath'] }}";
</script>
<script type="text/javascript" src="/static/js/examine/bundled.js"></script>
{% endblock%}
