{% extends "layouts/layout.html" %}
{%- from 'macros/nav.html' import nav -%}

{% block body %}
{{ nav("home") }}

<h2>Welcome to CycleDash <img src="static/img/cycle-dash.png" width=100></h2>
<pre>
We use JSON. Recommend using httpie[1] to interface with this from the CLI.

You may be looking for...

POST    /runs                       -- submit a new run to cycledash
                                       c.f. <a href="/docs/format">/docs/format</a> (json or form encoded)
GET     /runs                       -- list all runs (html or json)
GET     /runs/&lt;run_id&gt;              -- return a particular run (json)
GET     /runs/compare/&lt;run_id&gt;(,&lt;run_id&gt;)*   -- display concordance of given
                                                runs (html)  [TODO]
GET     /callers                    -- list all callers and latest scores (html)
GET     /callers/&lt;caller_name&gt;      -- display runs for and a graph of scores
                                       for runs of a given caller (html)

-------- __@      __@       __@       __@      __~@
----- _`\<,_    _`\<,_    _`\<,_     _`\<,_    _`\<,_
---- (*)/ (*)  (*)/ (*)  (*)/ (*)  (*)/ (*)  (*)/ (*)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[1]: <a href="http://httpie.org">http://httpie.org</a>
</pre>
{% endblock %}
