{% extends "layouts/layout.html" %}
{%- from 'macros/nav.html' import nav -%}

{% block head %}
<link rel="stylesheet" href="static/css/style.css">
{% endblock %}

{% block body %}
{{ nav("register", current_user) }}
<main id="register">
  <form class="centered-form" method="POST">
    <h2>Create a Cycledash Account</h3>
    {% if errors %}
    <p class="bg-danger form-errors">{{errors}}</p>
    {% endif %}
    <div class="form-group add-form-input-half">
      <label class="control-label">Username</label>
      <input class="form-control" type="text"
             name="username">
    </div>
    <div class="form-group add-form-input-half">
      <label class="control-label">Email</label>
      <input class="form-control" type="text"
             name="email">
    </div>
    <div class="form-group add-form-input-half">
      <label class="control-label">Password</label>
      <input class="form-control" type="password"
             name="password1">
      <p class="help-block">Password must be 8 characters or more.</p>
    </div>
    <div class="form-group add-form-input-half">
      <label class="control-label">Confirm password</label>
      <input class="form-control" type="password"
            name="password2">
    </div>
    <div className='form-group add-form-input-full'>
      <button class="btn btn-primary btn-block" type="submit">
        Create Account
      </button>
    </div>
  </form>
</main>
{% endblock %}
