{% extends "layouts/layout.html" %}
{%- from 'macros/nav.html' import nav -%}

{% block head %}
<link rel="stylesheet" href="static/css/runs.css">
{% endblock %}

{% block body %}
{{ nav("runs") }}
<main id="runs"></main>
<script type="text/javascript" src="/static/js/dist/bundled.js"></script>
<script>
 window.renderRunPage(document.getElementById('runs'),
                      {{ runs | tojson }},
                      {{ run_kvs | tojson }},
                      {{ last_comments | tojson }});
</script>
{% endblock %}
