{% extends "layouts/layout.html" %}
{%- from 'macros/nav.html' import nav -%}

{% block head %}
<style>
form#submit {
  margin: 0 auto 27px auto;
  display: none;
  max-width: 500px;
}
#show-submit {
  position: absolute;
  right: 7px;
}
.runs.table {
  margin-top: 23px;
}
tr.run {
  background: white;
  cursor: pointer;
}
tr.run.selected {
  font-weight: 500;
}
tr.run-info {
  display: none;
  background: rgb(247, 252, 253);
  text-align: center;
}
tr.run-info ul {
  text-align: left;
}
tr.run-info li {
  list-style: none;
}
input.selector {
  margin-right: 13px;
}
</style>
{% endblock %}

{% block body %}
{{ nav("runs") }}
<br/>
<button id="concordance" class="btn btn-info">Concordance on Selected</button>
<button id="show-submit" class="btn btn-default">Submit New Run</button>
<form method="POST" action="/runs" role="form" id="submit">
  <h2>Add a new run:<button type="button" class="close" aria-hidden="true">&times;</button></h3>
  <div class="form-group">
    <label>Variant Caller Name:</label>
    <input class="form-control" type="text" name="variantCallerName"
           placeholder="Guacamole::Somatic">
  </div>
  <div class="form-group">
    <label>Git Revision Hash, or Caller Version:</label>
    <input class="form-control" type="text" name="sha1"
           placeholder="1a81044ef7">
  </div>
  <div class="form-group">
    <label>Dataset Name:</label>
    <input class="form-control" type="text" name="dataset"
           placeholder="DREAM training chr20">
  </div>
  <div class="form-group">
    <label>VCF Path:</label>
    <input class="form-control" type="text" name="vcfPath"
           placeholder="/data/somevcf.vcf">
  </div>
  <div class="form-group">
    <label>Truth VCF Path:</label>
    <input class="form-control" type="text" name="truthVcfPath"
           placeholder="/data/true_somevcf.vcf">
  </div>
  <br/>
  <h4>Optional <small>all paths should be HDFS paths to canonical data</small></h4>
  <div class="form-group">
    <label>Tumor BAM:</label>
    <input class="form-control" type="text" name="tumorPath"
           placeholder="/data/dream/tumor.chr20.bam">
  </div>
  <div class="form-group">
    <label>Normal BAM:</label>
    <input class="form-control" type="text" name="normalPath"
           placeholder="/data/dream/normal.chr20.bam">
  </div>
  <div class="form-group">
    <label>Notes, Config, Params:</label>
    <textarea class="form-control" rows="3" name="params"
              placeholder="command line parameters here"></textarea>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>

<script>
  d3.select("#concordance")
    .on("click", function() {
      var runs = document.querySelectorAll("input[type=checkbox]:checked");
      runs = Array.prototype.slice.call(runs).map(function(v) { return v.value; });
      if (runs.length != 0) {
        var run_ids_key = runs.join(",");
        window.location.href = "/runs/" + run_ids_key + "/concordance";
      }
    });
</script>

<table class="runs table">
  <thead>
    <tr>
      <th></th>
      <th>Caller Name</th>
      <th>Submitted On</th>
      <th>Dataset</th>
    </tr>
  </thead>
  <tbody>
{%- for run in runs %}
    <tr class="run" data-runId="{{ run['id'] }}">
      <td>
        <input type="checkbox" value="{{ run['id'] }}" class="selector">
        <a class="btn btn-default btn-xs" href="/runs/{{ run['id'] }}/examine">Examine</a>
      </td>
      <td>{{ run['variantCallerName'] }}</td>
      <td>{{ run['submittedAt'] }}</td>
      <td>{{ run['dataset'] }}</td>
    </tr>
    <tr class="run-info" data-runId="{{ run['id'] }}">
      <td colspan=4>
        <ul>
          {% for name, key in run_kvs.iteritems() %}
          {%- if run.get(key) %}
          <li><strong>{{ name }}:</strong> {{ run[key] }}</li>
          {% endif -%}
          {% endfor %}
        </ul>
      </td>
    </tr>
{% endfor -%}
  </tbody>
</table>

<script>
  d3.selectAll('tr.run')
    .on('click', function(d, i) {
      // Ignore clicks on links in the row.
      var tag = d3.event.target.tagName;
      if (tag == 'A' || tag == 'INPUT') return;

      var selected = d3.select(this).attr('data-selected');
      var $this = d3.select(this);
      if (selected == 'true') {
        $this.attr('data-selected', false)
            .attr('class', 'run');
        d3.select($this.node().nextElementSibling)
            .style('display', 'none');
        } else {
          $this.attr('data-selected', true)
              .attr('class', 'run selected');
          d3.select($this.node().nextElementSibling)
              .style('display', 'table-row');
        }
    });

  d3.select('#show-submit')
      .on('click', function() {
        d3.select(this)
            .style('display', 'none');
        d3.select('form#submit')
            .style('display', 'block');
      });

  d3.select('form#submit .close')
      .on('click', function() {
        d3.select('form#submit')
            .style('display', 'none')
        d3.select('#show-submit')
            .style('display', 'block');
      });
</script>

{% endblock %}
