{% extends "layouts/layout.html" %}
{%- from 'macros/nav.html' import nav -%}

{% block body %}
{{ nav("tasks") }}
<main>
  <section>
    <h3>Task State</h3>
    {% for task in tasks %}
    <h4>{{ task.type }}: {{ task.state }}</h4>
    {% if task.traceback %}
    <pre>{{ task.traceback }}</pre>
    {% endif %}
    {% endfor %}
  </section>

  <section>
    <button id='restart' class='btn btn-default'>
      Restart these tasks
    </button>
  </section>
</main>

<script>
$(function() {
  $('#restart').on('click', function(e) {
    if (window.confirm('Are you sure you want to restart all failed tasks?')) {
      $.ajax({
        url: window.location + '/restart',
        type: 'POST'
      }).done(function() {
        window.location = '/runs';
      }).fail(function(e) {
        console.error(e);
        alert('Something went wrong. ' +  e);
      })
    }
  });
});
</script>
<style>
#delete {
  float: right;
}
</style>
{% endblock %}
