{% extends "layouts/layout.html" %}
{%- from 'macros/runs.html' import runs_table -%}
{%- from 'macros/nav.html' import nav -%}

{% block head %}
<style>
  tr.run {
    background: white;
    cursor: pointer;
  }
  tr.run.selected {
    font-weight: 500;
  }
  tr.run-info {
    display: none;
    background: rgb(247, 252, 253);
    text-align: center;
  }
  tr.run-info li {
    list-style-type: none;
    display: inline;
  }
  tr.run-info li:after {
    content: ", ";
  }
  tr.run-info li:last-child:after {
    content: " ";
  }

  .tick {
    font-size: 7px;
  }
  path {
    fill: none;
    stroke-width: 1;
    stroke: black;
  }
</style>
{% endblock %}

{% block body %}
{{ nav("callers") }}
<h3>Caller: {{ caller_name }}</h3>

{{ runs_table(runs, run_kvs) }}

<script>
  var runs = {{ runs | tojson }};
</script>

<script src="{{ url_for('static', filename='js/trend.js') }}"></script>
{% endblock %}
