{% extends "layouts/layout.html" %}
{%- from 'macros/runs.html' import runs_table -%}
{%- from 'macros/nav.html' import nav -%}


{% block head %}
<style>
path {
  fill: none;
  stroke-width: 1;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
text {
  font-size: 10px;
}
</style>
{% endblock %}


{% block body %}
{{ nav("callers") }}

<h2>{{ caller_name }}</h2>
<script type="template/html" id="dataset-holder">
  <h3><%= datasetName %></h3>
  <div class="trendlines"></div>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Submitted At</th>
        <th>f1score</th>
        <th>precision</th>
        <th>recall</th>
      </tr>
    </thead>
    <tbody>
      <% for (var idx in runs) { %>
        <% var run = runs[idx],
               submittedAt = run.submittedAt,
               runId = run.id,
               f1score = run.f1score,
               precision = run.precision,
               recall = run.recall; %>
      <tr>
        <td><a href="/runs/<%= runId %>/examine" class="btn btn-default btn-xs">Examine</a></td>
        <td><%= submittedAt %></td>
        <td><%= f1score %></td>
        <td><%= precision %></td>
        <td><%= recall %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</script>

<script>
  var datasetRuns = {{ dataset_runs | tojson }};
</script>

<script src="{{ url_for('static', filename='js/trend.js') }}"></script>
{% endblock %}
