{%- from 'macros/flash.html' import flash with context -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}CycleDash{% endblock %}</title>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/d3/d3.min.js"></script>
    <script src="/static/lib/underscore/underscore-min.js"></script>

    {% block bootstrap %}
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    {% endblock %}

    {% if config['DEBUG'] %}
    <!--
         This JS is served from a running livereload server, started by our gulp watch task,
         and is responsible for reloading the page when the livereload server is notified
         (usually by grunt tasks, when they've run and generate new CSS or JS).

         This is not included in production mode.
    -->
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}

    {% if config['TYPEKIT_URL'] %}
    <script type="text/javascript" src={{config['TYPEKIT_URL']}}></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% endif %}

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
